.roadmap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.jj {
  background-color: aqua;
  width: 20vw;
  height: 20vh;
  offset-path: path("M151 213C151 213 238.4 86.4 354 201 469.6 316.6 523.9 311 594 246 664.1 181 721.9 111.8 824 52 926.1 12.8 955.5 54.4 1086 78 1108.1 96.8 1180.9 221.1 1287 242 1336.4 298.8 1333 293 1333 293L1336 632 1306 886 558 859 77 808 2 757z");
  animation: move 10s linear infinite alternate;
}

.img {
  width: 140vw;
  position: absolute;
  /* left: -130vw; */
  top: -55vh;
  left: 20vw;




}

.img.aa {
  /* animation: bb 2s linear forwards; */

  /* animation: move 10s linear infinite alternate; */
}

@keyframes bb {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(110vw);

  }
}


.p1,
.p2,
.p3 {
  font-size: 3vw;
  color: #6B9D9A;
}

.p4,
.p5,
.p6 {
  margin-top: 5vh;
  line-height: 5vh;
  font-size: 2vw;
  color: #896831;

}

.container1,
.container2,
.container3 {
  position: absolute;
}

.container1 {
  left: 21vw;
  top: 23vh;
  text-align: center;
  opacity: 0;


}

.container2 {
  left: 40vw;
  bottom: 10vh;
  text-align: center;
  opacity: 0;

}

.container3 {
  right: 21vw;
  top: 23vh;
  text-align: center;
  opacity: 0;


}

.cover1 {
  width: 50vw;
  height: 100vw;
  position: absolute;
  z-index: 2;
}

.cover2 {
  width: 50vw;
  height: 100vw;
  position: absolute;
  right: 0;
  z-index: 2;
}



.show1 {
  animation: ee 1s linear forwards;
}

.show2 {
  animation: ee 1s linear forwards;
}

.show3 {
  animation: ee 1s linear forwards;
}

@keyframes ee {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.rr {
  width: 20vw;
  height: 2vw;
  left: 0vw;
  position: absolute;
  background-color: aqua;

}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}