@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
  ;
}

.mySwiper {
  background-color: #E2E2E0;
  height: 100vh;


}

.swiperSlide {
  display: flex;
  justify-content: center;
}